#custom-color-picker-background {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#custom-color-picker-container {
  background-color: rgb(50, 50, 50);
}

#custom-color-picker-background h1 {
  margin-top: 4%;
  font-family: 3.5em;
  color: rgb(235, 81, 96);
  margin-bottom: 5%;
}

#custom-color-container {
  background-color: white;
  margin: 0 auto;
}
