#dashboard-container {
  z-index: -50;
  background-color: rgb(50, 50, 50);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}

#dashboard-title {
  text-align: center;
  margin-top: 3%;
  font-family: "Libre Franklin";
  font-size: 3.5em;
  color: rgb(235, 81, 96);
}

#dashboard-container h4 {
  color: rgb(179, 172, 167);
  font-size: 1em;
}

#choices-dashboard-container {
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  font-family: "Muli";
}

.choices-child {
  width: 40%;
  /* border: 1px solid rgb(179, 172, 167); */
  color: rgb(235, 81, 96);
  box-sizing: border-box;
}

.choices-child h3 {
  border: 1px solid rgb(179, 172, 167);
  border-bottom: none;
  padding: 2%;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

#create-pattern-choices {
  border: 1px solid rgb(179, 172, 167);
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#create-pattern-interactions {
  display: flex;
  justify-content: space-around;
}

.interactive-img {
  max-width: 50%;
  height: auto;
  opacity: 0.5;
}

.interactive-img:hover {
  cursor: pointer;
}

.interaction-selected {
  opacity: 1;
}

#colors-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
  align-items: center;
}

.color-box {
  width: 50px;
  height: 100px;
  opacity: 0.5;
}

.color-box:hover {
  cursor: pointer;
}

.individual-color-box {
  width: 50px;
  height: 20px;
}

.color-box-selected {
  opacity: 1;
}

#custom-color-button:hover {
  cursor: pointer;
}

#start-interaction {
  height: 50px;
  border: none;
  background: transparent;
  border-top: 1px solid rgb(179, 172, 167);
  font-size: 0.875em;
  font-family: "Muli", sans-serif;
  color: #b3aca7;
  transition: all 0.3s ease-in-out;
}

#start-interaction:hover {
  color: rgb(50, 50, 50);
  background: #b3aca7;
  cursor: pointer;
}

#log-out {
  margin-top: 2%;
  margin-right: 2%;
  float: right;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgb(235, 81, 96);
  color: rgb(235, 81, 96);
  height: 35px;
  width: 150px;
  font-weight: 300;
  transition: 0.5s all;
  font-size: 0.875em;
  font-family: "Muli", sans-serif;
}

#log-out:hover {
  background-color: rgba(235, 81, 96, 1);
  color: rgb(50, 50, 50);
}

#your-patterns {
  border: 1px solid rgb(179, 172, 167);
}

.pattern-image {
  height: 130px;
  width: 130px;
  overflow: hidden;
}

#your-patterns-container-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3%;
}

#your-patterns img {
  max-width: auto;
  height: 100%;
  opacity: 0.5;
}

#your-patterns img:hover {
  cursor: pointer;
}

#your-patterns img.selected {
  opacity: 1;
}

#your-patterns span {
  font-size: 1.5em;
  margin: 0 2%;
}

#your-patterns span:hover {
  cursor: pointer;
}

#male-female-container {
  margin-top: 7%;
  margin-bottom: 4%;
}

#male-female-choice {
  display: flex;
  justify-content: space-evenly;
}

.symbol {
  font-size: 4em;
  font-weight: lighter;
  color: rgb(179, 172, 167);
  opacity: 0.5;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.symbol:hover {
  cursor: pointer;
}

.symbol.selected {
  opacity: 1;
}

#start-render {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(179, 172, 167);
  background: transparent;
  border-top: none;
  font-size: 0.875em;
  font-family: "Muli", sans-serif;
  color: #b3aca7;
  transition: all 0.3s ease-in-out;
}

#start-render:hover {
  color: rgb(50, 50, 50);
  background: #b3aca7;
  cursor: pointer;
}
