/* PINK: rgb(235, 81, 96);
DARK GREY: rgb(50, 50, 50)
TAN: rgb(179, 172, 167) */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  font-family: "Libre Franklin";
  background-color: rgb(50, 50, 50);
}

#landing-page {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

.landing-page-b {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgb(235, 81, 96);
  color: rgb(235, 81, 96);
  height: 35px;
  width: 150px;
  font-family: "Muli";
  font-size: 1.25em;
  font-weight: 300;
  transition: 0.5s all;
}

.landing-page-b:hover {
  background-color: rgb(235, 81, 96);
  color: rgb(50, 50, 50);
}
